
@{
    ViewBag.Title = "Ana";
}

<h2>Ana Ekran</h2>
<div>
    <form name="msgForm" id="msgFormId">
        Enter a Message:
        <input ng-model="txtMsg" type="text">
        <button ng-click="sendMessage()">Send</button>
        {{nickName}}
    </form>
</div>