@{
    ViewBag.Title = "Giris";
}
<h2>Giriş Ekran</h2>
<div>
    <form name="nickForm" id="nickFormId">
        Enter a Nick Name:
        <input ng-model="txtNick" type="text">
        <button ng-click="giris()">Giriş</button>
    </form>
</div>


